.footer {
    background-color: $clr-dark-grey;
    padding-top: 15px;
    padding-bottom: 10px;

    & i {
        width: 20px;
        padding-right: 10px;
        font-size: smaller;
    }

    & p {
        @include sides-margin;
        font-size: $f-small;
        font-weight: $f-bold;
        color: white;
        margin-top: 0%;
        margin-bottom: 10px;

        & a {
            color: inherit;
        }

        &:first-child {
            font-family: $heading-font-family;
            margin-bottom: 1.3rem;
            font-size: medium;
        }
    }

    @include tablet-bp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & p {
            &:not(:nth-child(1)) {
                width: 40%;        
                @include sides-margin
            }
        }   
        
        &__heading {
            width: 90%;
            @include sides-margin;
        }
    }

    @include desktop-bp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & p {
            margin-right: auto; 
        }
    
        &__heading {
            width: 90%;
            @include sides-margin;
        }
    }


}