.footer {
    background-color: $clr-dark-grey;
    padding-top: 15px;
    padding-bottom: 10px;

    & i {
        width: 20px;
        padding-right: 10px;
        font-size: smaller;
    }

    & p {
        margin: 8px 0;
        @include sides-margin;
        font-size: $f-small;
        font-weight: $f-bold;
        color: white;

        & a {
            color: inherit;
        }

        &:first-child {
            font-family: $heading-font-family;
            margin-bottom: 1.5rem;
            font-size: medium;
        }
    }
}