.header {
    height: 4rem;
    display: flex;
    align-items: center;

    &__title {
        margin: 0 auto;
        
        &--anim {
            z-index: 3;
            animation: logo-animation $load-anim-duration forwards;
        }
    }

    & i {
        position: absolute;
        left: 8%;
    }
}