.homepage {
    opacity: 0;
    animation: homepage-loading 2000ms forwards;
}

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr-medium-grey;
    box-shadow: inset 0 2px 2px $clr-shadow-grey;
    color: $clr-dark-grey;

    i {
        margin-right: 1em;
    }
}

.explore {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $clr-low-grey;
    h1 {
        margin: 0 0;
    }
    
}

.functioning {
    margin-top: 50px;
    margin-bottom: 40px;
    @include sides-margin;

    & h2 {
        margin-bottom: 2rem;
    }
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__cards {
        width: 270px;
        border-radius: 15px;
        background-color: $clr-low-grey;
        box-shadow: 0 2px 10px $clr-shadow-grey;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 1.5rem;
        position: relative;
        z-index: 1;
        cursor: default;
        
        & span {
            display: inline-block;
            transform: translateX(-10px);
            background-color: $clr-primary;
            color: white;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            text-align: center;
            margin: auto 0;
            font-size: small;
            line-height: 18px;
        }

        & i {
            width: 20px;
            margin: auto 4%;
            color: grey;
            
        }

        & p {
            display: inline-block;
            font-size: $f-small;
            font-weight: $f-bold;
            padding: .4rem 0;
        }

        &:hover {
            &::after {
                opacity: 1;
            }

            & > i {
                color: $clr-primary;
                transition: color 200ms;
            }
        }

        &::after {
            content: "";
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-radius: inherit;
            background-color: rgba($clr-primary, .2);
            transition: opacity 250ms;
        }
    }
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $clr-low-grey;
    padding-top: 30px;
    padding-bottom: 50px;

    & h2 {
        @include sides-margin;
    }

}

.menus-cards {
    display: block;
    @include sides-margin;
    width: auto;
    height: 250px;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 10px $clr-shadow-grey;

    & img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        @include sides-margin;
        height: 60px;
        align-items: center;

        & div {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
            padding: 6px 0;
            & p {
                margin: 0;
            }
        }        

    }

}


