@keyframes cards-load {
    0% {
        transform: translateY(20px);
    }


    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

@keyframes homepage-loading {
   
    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}