// ----- Homepage ----- //
    // ----- disable scroll during loading ----- //
@keyframes no-scroll {
    0%,100% {
        overflow-y: hidden;
    }
}
    // ----- hide homepage during loading ----- //
@keyframes wrapper-fade {
    0% {
        opacity: 1;
    }
    99% {
        z-index: 2;
    }
    100% {
        opacity: 0;
        z-index: -10;
    }
}
    // ----- site logo animation ----- //
@keyframes logo-animation {
    0% {
        transform: translateY(40vh);
        color: $clr-secondary;
    }
    40% {
        color: $clr-tertiary;   
    }
    70% {
        transform: translateY(40vh);
        color: $clr-primary;    
    }

    100%{
        transform: translateY(0);
    }
}
    // ----- loading spinner animation ----- //
@keyframes loading-spinner {

    0% {
        transform: translate(0px,60vh) rotate(0deg);        
    }
    33% {
        transform: translate(50vw,60vh) rotate(0deg);
        border-bottom: 5px solid $clr-secondary;
    }
    66% {
        transform: translate(50vw,60vh) rotate(-360deg);
        border-bottom: 5px solid $clr-tertiary;
    }
    100% {
        transform: translate(100vw,60vh) rotate(-360deg);
    }
    
}

    // ----- menu cards/elements animation ----- //
@keyframes cards-load {
    0% {
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}