$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;

$clr-low-grey: #f5f5f5;
$clr-medium-grey: #e6e6e6;
$clr-dark-grey: #323232;
$clr-shadow-grey: #cbcbcb;

$heading-font-family: 'Shrikhand', cursive;
$body-font-family: 'Roboto', sans-serif;